@charset "utf-8";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", SimSun, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --base-font-size: 1.1rem;
  --base-font-weight: 400;
  line-height: 1.15;
  overflow-x: hidden;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  text-rendering: optimizeLegibility;
  font-kerning: normal;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

b,
strong {
  font-weight: bolder;
}
html.fun {
  --bgc: #ffe3f6;
  --text: #00008b;
  --link: #220b38;
  --link-active: #9a12b3;
}

html.serious {
  --bgc: #fff;
  --text: #000;
  --link: blue;

}

@-ms-viewport {
  width: device-width;
}
html,
body {
  background-color: var(--bgc);
  color: var(--text);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  width: 100vw;
  min-height: 100vh;
}

.cal-grid {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.cal-grid::after {
  clear: both;
  content: "";
  display: block;
}

.cal-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (min-width: 600px) {
  .cal-grid {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.cal-header {
  overflow: hidden;
  display: flex;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .cal-header {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.cal-header a {
  display: inline-block;
  padding: 20px;
  font-size: 1.5rem;

}


.home {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: .75rem;
}

@media screen and (min-width: 600px) {
  .home {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.home a {
  font-size: 1.25rem;
  padding-top: 1.15rem;
}


ol {
  margin: 0;
  padding: 0;
}

.hidden,
[hidden] {
  display: none;
}

