<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/lattice.css" | relative_url }}">
    <meta name= "description" content="John Rieth Research + Design">

    <title>John Rieth</title>
  </head>


  <body>


    <main class="container" aria-label="Content">
      <div class="section">
        {{ content }}
      </div>
    </main>


  </body>

</html>