<!DOCTYPE html>
<html class="fun" lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  
  <nav class="cal-grid">
    <ul>
      <li><h1><a href="/">Home</a></h1></li>
      
      
      <li><h1><a href="/design/">Design</a></h1></li>
      <li><h1><a href="/research/">Research</a></h1></li>
      <li><h1><a href="/notes/">Notes</a></h1></li>

    <li><h1><a href="/ideas/">Ideas</a></h1></li>
    </ul>
  </nav>

  <main class="cal-grid">


    {{ content }}
  </main>

</body>

</html>