--- 
layout: default 
---

<h3> Hello, I am John Rieth. I write to <a href="http://devonzuegel.com/page/about-me">learn in public</a>.
    </h3>

<h3> Email:
    <a href="mailto:john.rieth@outlook.com">john.rieth@outlook.com</a> 
</br>
</br>

    Twitter: <a href="https://twitter.com/JohnRieth7">@JohnRieth7</a>
    </h3>

    <p>My writing is in the public domain within the United States.</p>

<p>Additionally, I waive copyright and related rights in the work worldwide through the <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0 1.0 Universal public domain dedication</a>.</p>

